#Logo {
    width: 500;
    height: 200;
}
.hi {
    width: 325px;
    height: 475px;
}
.parallax-inner {
    position: relative;
    text-align: center;
    vertical-align: middle;
}
#1 {
    text-align: center;
    background: linear-gradient(white 0%, cyan 30%,cyan 70%, white 100%);
}
.lets go {
    width: 500px;
}
#my_carousel{ background-color: darkcyan; } #my_carousel img{ height : 300px; margin-top: 35px; } .carousel-inner p{ margin-top:15px; margin-bottom: 15px; color:purple; font-size: 20px; 
}